.major-button {
  background-color: var(--light-gray-color);
  width: 100%;
  padding: 15px 7.5%;
  text-align: left;
  font-size: 1.25rem;
  transition: background-color 0.1s ease-in-out;
}

.major-button:hover {
  background-color: #eeeeee;
  transition: background-color 0.15s ease-in-out;
}

.major-button:active {
  background-color: #e0e0e0;
  transition: background-color 0.1s ease-in-out;
}
