.command-item-button {
  font-size: 1rem;
  width: 95%;
  margin: 0 auto;
  padding: 10%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.command-item-container {
  width: 95%;
  margin: 5px auto;
}

.page-title {
  margin-left: 5%;
}

h3 {
  font-size: 32px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  font-weight: 400;
}

h6 {
  font-size: 14px;
  font-weight: 400;
}

#actions-list {
  margin-left: 15px;
}

.title {
  cursor: pointer;
}

#command-container {
  margin: 10px 25px 25px 15px;
}

.alias-title {
  font-weight: 300;
}

.cmd-shortcut .cmd-slot #actions-container {
  font-size: 20px;
}

.action-text {
  font-size: 16px;
}

.cmd-actions-container #change-alias-container {
  display: flex;
}

.font-size-input {
  width: 45px;
}

.font-family-input {
  width: 60px;
}

#edit-cmd, #delete-cmd {
  margin-top: 5px;
  font-size: 14px;
}

.btn-filled {
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--blue-color);
}

.btn-outlined {
  background-color: #fff;
  padding: 3px 8px;
  border: 2px solid var(--blue-color);
  border-radius: 5px;
  color: var(--blue-color);
}

.remove-action-btn {
  padding-top: 5px;
  font-size: 18px;
  background-color: #fff;
  padding: 3px 8px;
  color: var(--blue-color);
}

.add-action-button {
  margin: 5px 0px 10px 45px;
  font-size: 12px;
  text-decoration: underline;
  background-color: #fff;
  color: var(--blue-color);
  padding: 3px 5px;
  border-radius: 5px;
}

#edit-cmd-form {
  margin: 15px 0px 15px 15px;
}
