.title {
  cursor: pointer;
}

.font-size-input {
  width: 45px;
}

.font-family-input {
  width: 60px;
}

.action-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.action-label {
  margin-right: 3px;
}

.action-select {
  margin-right: 5px;
}

h2 {
  margin-bottom: 5px;
}

#add-command-form {
  padding: 15px;
}

.btn-filled {
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--blue-color);
}

.btn-outlined {
  background-color: #fff;
  padding: 3px 8px;
  border: 2px solid var(--blue-color);
  border-radius: 5px;
  color: var(--blue-color);
}

.add-action-button {
  margin: 5px 0px 10px 45px;
  font-size: 12px;
  text-decoration: underline;
  background-color: #fff;
  color: var(--blue-color);
  padding: 3px 5px;
  border-radius: 5px;
}

.remove-action-btn {
  padding-top: 5px;
  font-size: 18px;
  background-color: #fff;
  padding: 3px 8px;
  color: var(--blue-color);
}
