.title {
  cursor: pointer;
}

.button-container {
  padding-top: 10px;
}

.font-size-input {
  width: 45px;
}

.font-family-input {
  width: 60px;
}

.action-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.action-label {
  margin-right: 3px;
}

.action-select {
  margin-right: 5px;
}

h2 {
  margin-bottom: 5px;
}

#add-command-form {
  padding: 15px;
}
